* {
  all: unset;
  background: transparent;
}

.pmenu-buttons .btn {
  background-color: rgba(7, 43, 28, 0.95);
  font-family: "monaspace krypton";
  font-size: 14px;
  border: 1px solid #cae3b4;
  color: #cae3b4;
}

.shutdown-btn, .restart-btn {
  margin-bottom: 0px;
}

.lock-btn-img, .shutdown-btn-img, .restart-btn-img {
   background-image: url("JuniMoon.png");
}